<body>
  <section class="hero-section">
    <div class="hero-overlay">
      <div class="hero-text">
        <h1 class="hero-title">Smoke Entertainment</h1>
        <p class="hero-subtitle-main">Unleash the Rhythm, Ignite the Vibe</p>
        <a href="my-music" class="hero-button">Learn More</a>
      </div>
      <div class="hero-images">
        <img
          src="smokeimg45.png"
          alt="Hero Image 1"
          class="hero-image image-1"
        />
        <img
          src="smokeimg45.png"
          alt="Hero Image 2"
          class="hero-image image-2"
        />
      </div>
    </div>
  </section>
</body>
