<header>
  <h1>
    My Gallery 
  </h1>
</header>
<div class="gallery-section">
  <p class="text-intro">
    Check out my Gallery
  </p>
</div>
<div id="top"></div>
<section class="gallery">
  <div class="row">
    <ul>
      <a href="#" class="close"></a>
      <li>
        <a>
          <img
            src="smokeimg5.jpg"
            alt=""
          />
        </a>
      </li>

      <li>
        <a>
          <img
            src="smokeimg9.jpg"
          />
        </a>
      </li>

      <li>
        <a>
          <img
            src="smokeimg40.jpg"
          />
        </a>
      </li>
      <li>
        <a class="image">
          <img
            src="smokeimg34.jpg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a class="image">
          <img
            src="smokeimg25.jpg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a class="image">
          <img
            src="smokeimg39.jpg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a class="image">
          <img
            src="smokeimg38.jpg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a class="image">
          <img
            src="smokeimg16.jpg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a class="image">
          <img
            src="smokeimg26.jpg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a class="image">
          <img
            src="smokeimg17.jpg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a class="image">
          <img
            src="smokeimg49.jpg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a class="image">
          <img
            src="smokeimg19.jpg"
            alt=""
          />
        </a>
      </li>
    </ul>
  </div>
  <!-- / row -->
</section>
<!-- / projects -->
