<div class="genre-section">
  <h2>Gospel Mixtapes</h2>
  <div class="card-row">
    <div class="center">
      <a
        href="https://hearthis.at/djsmoke-ke/zeejay-kuh-ft-dj-smoke-electric-gospel-vol-11/"
      >
        <div class="article-card">
          <div class="content">
            <p class="date">Jan 4, 2021</p>
            <p class="title">Electric Gospel Mix</p>
          </div>
          <img src="zeejaykush-smoke.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <!-- Repeat for other cards -->
    <div class="center">
      <a href="https://hearthis.at/djsmoke-ke/dj-smoke-reggea-worship-mixtape/">
        <div class="article-card">
          <div class="content">
            <p class="date">Mar 8, 2022</p>
            <p class="title">Reggea Worship Mixtape</p>
          </div>
          <img src="smokeimg22.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <div class="center">
      <a href="https://www.youtube.com/watch?v=iOFO26kpcGs&t=3616s&ab_channel=DJSMOKETV">
        <div class="article-card">
          <div class="content">
            <p class="date">Jun 2024</p>
            <p class="title">Urban Gospel Vol.1</p>
          </div>
          <img src="smokeimg21.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <div class="center">
      <a href="https://www.youtube.com/watch?v=IIsrJwyuJEo&ab_channel=DJSMOKETV">
        <div class="article-card">
          <div class="content">
            <p class="date">Jun 2024</p>
            <p class="title">Urban Gospel Vol.2</p>
          </div>
          <img src="smokeimg14.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
  </div>
</div>

<div class="genre-section">
  <h2>The Signal Mixtape</h2>
  <div class="card-row">
    <div class="center">
      <a href="https://hearthis.at/djsmoke-ke/the-signal-sn-1-ep-1/">
        <div class="article-card">
          <div class="content">
            <p class="date">Feb 9, 2023</p>
            <p class="title">Episode 1</p>
          </div>
          <img src="signal-mixtape.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <div class="center">
      <a href="https://hearthis.at/djsmoke-ke/the-signal-ep-2/">
        <div class="article-card">
          <div class="content">
            <p class="date">Feb 17, 2023</p>
            <p class="title">Episode 2</p>
          </div>
          <img src="signal-mixtape.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <div class="center">
      <a href="https://hearthis.at/djsmoke-ke/the-signal-ep-3/">
        <div class="article-card">
          <div class="content">
            <p class="date">Feb 23, 2023</p>
            <p class="title">Episode 3</p>
          </div>
          <img src="signal-mixtape.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <div class="center">
      <a href="https://hearthis.at/djsmoke-ke/the-signal-ep-4/">
        <div class="article-card">
          <div class="content">
            <p class="date">Mar 3, 2023</p>
            <p class="title">Episode 4</p>
          </div>
          <img src="signal-mixtape.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <div class="center">
      <a href="https://hearthis.at/djsmoke-ke/the-signal-ep-5/">
        <div class="article-card">
          <div class="content">
            <p class="date">Mar 17, 2023</p>
            <p class="title">Episode 5</p>
          </div>
          <img src="signal-mixtape.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <div class="center">
      <a href="https://hearthis.at/djsmoke-ke/the-signal-ep-6./">
        <div class="article-card">
          <div class="content">
            <p class="date">Mar 24, 2023</p>
            <p class="title">Episode 6</p>
          </div>
          <img src="signal-mixtape.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <div class="center">
      <a href="https://hearthis.at/djsmoke-ke/the-signal-ep-7/">
        <div class="article-card">
          <div class="content">
            <p class="date">Jun 29, 2023</p>
            <p class="title">Episode 7</p>
          </div>
          <img src="signal-mixtape.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
    <div class="center">
      <a href="https://hearthis.at/djsmoke-ke/the-signal-ep-8/">
        <div class="article-card">
          <div class="content">
            <p class="date">Apr 14, 2023</p>
            <p class="title">Episode 8</p>
          </div>
          <img src="signal-mixtape.jpg" alt="article-cover" />
        </div>
      </a>
    </div>
  </div>
</div>
