<nav>
  <div class="wrapper">
    <div class="logo">
      <a href="#">
        <img src="logo.png" alt="Logo" />
      </a>
    </div>

    <input type="radio" name="slider" id="menu-btn" />
    <input type="radio" name="slider" id="close-btn" />
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"
        ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </svg></label>
      <li><a href="#">Home</a></li>
      <li><a href="my-music">Music</a></li>
      <li>
        <a class="desktop-item">Services</a>
        <input type="checkbox" id="showMega" />
        <label for="showMega" class="mobile-item">open</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="smokeimg23.jpg" alt="New Image" />
            </div>

            <div class="row">
              <header  >Sound System</header>
              <ul class="mega-links">
                <li>
                  <a href="services-sound-system">Professional Sound Setup</a>
                </li>
                <li><a href="services-sound-system">Lighting Effects</a></li>
                <li><a href="services-sound-system">Audio Engineering</a></li>
                <li><a href="services-sound-system">Subwoofers</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Event Planning</header>
              <ul class="mega-links">
                <li><a href="services-event-planning">Music Curation</a></li>
                <li><a href="services-event-planning">MC Services</a></li>
                <li><a href="services-event-planning">Interactive Games</a></li>
                <li><a href="services-event-planning">Stage Setup</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Ceremonies</header>
              <ul class="mega-links">
                <li><a href="services-ceremonies">Wedding DJ Services</a></li>
                <li><a href="services-ceremonies">Birthday Party</a></li>
                <li><a href="services-ceremonies">Corporate Events</a></li>
                <li><a href="services-ceremonies">Live Mixing</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a href="gallery">Gallery</a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"
      ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg></label>
  </div>
</nav>
