<div class="header">
  <h1>Services</h1>
  <h1>offered by Smoke Ent.</h1>
</div>
<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img
            src="https://assets.codepen.io/652/photo-1468777675496-5782faaea55b.jpeg"
            alt="mixed vegetable salad in a mason jar."
          />
        </div>
        <div class="card_content">
          <h2 class="card_title">Ceremonies &amp; Events</h2>
          <div class="card_text">
            <p>
              Dig into the freshest veggies of the season! This salad-in-a-jar
              features a mixture of leafy greens and seasonal vegetables, fresh
              from the farmer's market.
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img
            src="https://assets.codepen.io/652/photo-1520174691701-bc555a3404ca.jpeg"
            alt="a Reuben sandwich on wax paper."
          />
        </div>
        <div class="card_content">
          <h2 class="card_title">Event Planning</h2>
          <div class="card_text">
            <p>
              All great meals take time, but this one takes it to the next
              level! More than 650 hours of fermenting, brining, aging, and
              curing goes into each and every one of our legendary Reuben
              sandwiches.
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img
            src="https://assets.codepen.io/652/photo-1544510808-91bcbee1df55.jpeg"
            alt="A side view of a plate of figs and berries."
          />
        </div>
        <div class="card_content">
          <h2 class="card_title">Sound System</h2>
          <div class="card_text">
            <p>
              A succulent sextet of fresh figs join with a selection of
              bodacious seasonal berries in this refreshing, shareable dessert.
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
