<div class="header">
  <h1>Main Services</h1>
</div>
<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img
            src="ceremony.jpg"
            alt="mixed vegetable salad in a mason jar."
          />
        </div>
        <div class="card_content">
          <h2 class="card_title">Ceremonies &amp; Events</h2>
          <div class="card_text">
            <p>
              Our ceremonies and events are designed to celebrate life’s most
              significant moments with flair and creativity.Whether it's a
              wedding, birthday, or corporate gathering, we ensure every event
              is a delightful experience that leaves a lasting impression.
            </p>
            <p>
              <a href="services-ceremonies" class="card_button"> Learn more</a>
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img
            src="smokeimg46.webp"
            alt="a Reuben sandwich on wax paper."
          />
        </div>
        <div class="card_content">
          <h2 class="card_title">Event Planning</h2>
          <div class="card_text">
            <p>
              Transforming your vision into reality, our event planning services
              ensure every detail is meticulously crafted.Our dedicated team
              works closely with you to understand your needs, guaranteeing that
              every element is tailored to your unique style.
            </p>
            <p>
              <a href="services-event-planning" class="card_button"> Learn more</a>
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img
            src="sounds.webp"
            alt="A side view of a plate of figs and berries."
          />
        </div>
        <div class="card_content">
          <h2 class="card_title">Sound System</h2>
          <div class="card_text">
            <p>
              Experience vibrant sound that elevates every moment. Our premium
              sound systems are designed to deliver crystal-clear audio, perfect
              for events of all sizes.Let us handle the setup so you can enjoy
              an immersive sound experience.
            </p>
            <p>
              <a href="services-sound-system" class="card_button"> Learn more</a>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
